<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1782">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
                <span class="cs-header">Lakes Therapy and Counseling Center</span>
            <p class="cs-text">
                Marriage or relationship counselor in Murrieta, California. Serving Murrieta and the surrounding communities.
            </p>
            <div class="cs-contact">
                <div class="cs-contact-info">
                    <span class="cs-topper">Call Us Anytime</span>
                    <a href="tel:+19514175443" class="cs-contact-link">(951) 417-5443</a>
                </div>
                <div class="cs-contact-info">
                    <span class="cs-topper">Visit Our Location</span>
                    <a href="https://maps.app.goo.gl/tVq1mUXpnkQbvYyM8" class="cs-contact-link">41856 Ivy St STE 205, Murrieta, CA 92562</a>
                </div>
                <div class="cs-contact-info">
                    <span class="cs-topper">Couples Therapy Near Me</span>
                    <a href="https://murrietatherapy.com/couples-therapy-murrieta" class="cs-contact-link">Couples Therapy Murrieta</a>
                </div>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/services">Couples Therapy</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Individual Therapy</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Family Therapy</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <span class="cs-header">Useful Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/blog">Blog</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact">Contact Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/schedule">Free Consultation</a>
                </li>
            </ul>
        </div>
        <table class="cs-table">
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th>
                    <td>9:00 AM - 6:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">Sunday</th>
                    <td>Closed</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 - <a href="/" class="cs-credit-link" target="_blank">Lakes Therapy and Counseling Center</a>
        </span>
        <div class="cs-bottom-links">
            <a href="/terms" class="cs-bottom-link">Terms & Conditions</a>
            <a href="/privacy" class="cs-bottom-link">Privacy Policy</a>
        </div>
    </div>
</footer>
                                