---
preloadCSS: '/assets/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/blog.css">

<!-- JSON Blog Schema Markup -->
<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ title }}",
    "image": [
        "{{ image }}"
    ],
    "datePublished": "{{ date | postDate }}",
    "publisher": {
        "@type": "Organization",
        "name": "{{ client.name }}"
    },
    "author": [{
        "@type": "Person",
        "name": "{{ author }}"        
        }],
    
    "articleBody": "{{ description | safe }}",
    "url": "{{ client.domain }}{{ page.url }}",
    "articleSection": "{{ tags }}"
    }
</script>

       <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-47SC5QRPEQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-47SC5QRPEQ');
</script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <picture>
            <source media="(max-width: 600px)" srcset="https://lh3.googleusercontent.com/p/AF1QipO5EmEgG2f9jDdGBgu-4EQschzDF79wpSqmlrsI">
            <source media="(min-width: 601px)" srcset="https://lh3.googleusercontent.com/p/AF1QipO5EmEgG2f9jDdGBgu-4EQschzDF79wpSqmlrsI">
            <img aria-hidden="true" decoding="async" src="https://lh3.googleusercontent.com/p/AF1QipO5EmEgG2f9jDdGBgu-4EQschzDF79wpSqmlrsI" alt="Menifee, CA" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async" />
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                            src="https://murrieta-therapy.b-cdn.net/John%20Bacon%20Gilbert_2.webp"
                            alt="John Bacon Gilbert"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}