---
title: 'Contact'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post" data-netlify-recaptcha="true" netlify>
                <div class="cs-content">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">Have A Question?</h2>
                    <p class="cs-text">
                        Not yet ready to schedule your free 15 minute consultation and you have some questions? Just fill out the form and we'll get back to you quickly.
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    How Did You Find Us
                    <input type="text" id="find" name="find-us" placeholder="How did you find us?">
                </label>
                <label class="cs-label-message">
                    Question or Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                </p>
                <div data-netlify-recaptcha="true"></div>
                <p>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <br />
                    {{client.address.lineTwo}},
                    <br />
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/romantic-couple-watching-tv.webp">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/romantic-couple-watching-tv.webp" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
            
        </div>
        <iframe src="https://storage.googleapis.com/maps-solutions-9wit5a4eqq/locator-plus/8dd8/locator-plus.html"
        width="100%" height="800"
        style="border:0;"
        loading="lazy">
      </iframe>
    </section>
{% endblock %}