---
title: 'Financing'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'financing/'
eleventyNavigation:
    key: Financing
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/insurance.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>

{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-container">

<div class="cs-content">
            <span class="cs-topper">Financing Available</span>
            <h1 class="cs-title">Pay online with the CareCredit credit card</h1>
            <p class="cs-text">
                We proudly accept the CareCredit credit card to help you finance your healthcare needs. Now you can pay online with CareCredit to help pay at the time of care, when you get a post-care bill, or up to 30 days before your appointment, quickly and securely. Special financing options are available.*
            </p>
            <p class="cs-text">
                Don't have CareCredit? <a href="https://www.carecredit.com/go/276GSP/">Apply here or learn more</a> today.
            </p>
            <p class="cs-text">
                *Subject to credit approval. Minimum monthly payments required. Promotional financing options are available on purchases of $200 or more. Standard Account Terms apply to purchases of less than $200. Promotional financing options available through Pay My Provider may differ from options available in-office. See www.carecredit.com for details.
            </p>
        </div>

        <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png" alt="John Bacon Gilbert, the founder of Lakes Therapy and Counseling Center" loading="lazy" width="400" height="563">
                </picture>
    
        
    </div>
</section>
                                
{% endblock %}