---
title: 'Insurance'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'insurance/'
eleventyNavigation:
    key: Insurance
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/insurance.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>

{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Use Your Insurance Benefits</span>
            <h1 class="cs-title">How To Use Insurance</h1>
            <p class="cs-text">
                We know that many of our clients want to use insurance, so have partnered with Mentaya to help you access out-of-network benefits to save money on therapy. Use this tool below to see if you qualify for reimbursement for my services.
            </p>             
        </div>
        <picture class="cs-picture">
            <iframe width="100%" height=430 style="border:none;border-radius:20px;max-width:600px;margin:auto;display:block;" onload="const resize=() => this.height=this.clientWidth >= 600?430:750;resize();window.addEventListener('resize', resize);" src="https://app.mentaya.com/public/practices/GEhnf12KnXtQAECQEddU/eligibility/widget" title="Check Mentaya eligibility"></iframe>
        </picture>
    </div>
</section>
                                
{% endblock %}