---
title: 'Schedule'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'schedule/'
eleventyNavigation:
    key:
    order:
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/schedule.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-485">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Request Your Free <span class="cs-color">15 Minute Consultation!</span></h1>
            <p class="cs-text">
                We would love to connect with you and discuss how we can help. Please fill the form to request a call to schedule a free 15 minute consultation at a time that works for you.
            </p>
            <span class="cs-heading">Would You Rather Call or Email?</span>
            <span class="cs-heading">Contact Us Directly:</span>
            <a href="tel:+18779403037" class="cs-link">(877) 940-3047</a>
            <a href="mailto:info@murrietatherapy.com" class="cs-link">info@murrietatherapy.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-485" name="15 Minute Consultation Form" method="post" netlify>
            <h3 class="cs-h3">Request A Free Consultation</h3>
            <label class="cs-label">
                Full Name
                <input class="cs-input" required type="text" id="name-485" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-485" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-485" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-label-message">
                What type of therapy are you interested in?
                <select name="Interest" id="cs-select-485">
                    <option value="couples therapy">Couples Therapy</option>
                    <option value="individual therapy">Individual Therapy</option>
                    <option value="family therapy">Family Therapy</option>
                </select>
            </label>
            <label class="cs-label cs-label-message">
                Do you prefer a female or male therapist?
                <select name="Gender" id="cs-select-485">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="no preference">No Preference</option>
                </select>
            </label>
            <label class="cs-label cs-label-message">
                What time of the day works best for the initial consultation?
                <select name="Time" id="cs-select-485">
                    <option value="any time with planning">Any time with planning</option>
                    <option value="morning">Mornings</option>
                    <option value="lunch">Lunch (11am - 1pm)</option>
                    <option value="evening">Evening (4pm - 6pm)</option>
                    <option value="after 7pm">After 7pm</option>
                </select>
            </label>
            <label class="cs-label cs-label-message">
                If you decide to work with us, what time of the day works best for your scheduled sessions?
                <select name="Scheduled" id="cs-select-485">
                    <option value="flexible">I don't work a consistent schedule so I'm flexible</option>
                    <option value="any">Any time, I make my own schedule</option>
                    <option value="mornings">Mornings</option>
                    <option value="lunch">Lunch time</option>
                    <option value="evenings">Evenings</option>
                </select>
            </label>
            <label class="cs-label cs-label-message">
                For our free consultation together, how do you prefer to meet?
                <select name="Consultation" id="cs-select-485">
                    <option value="zoom">Video/Online with Zoom</option>
                    <option value="phone">Phone call</option>
                </select>
            </label>
            <label class="cs-label cs-label-message">
                How soon are you interested in starting sessions?
                <select name="Timing" id="cs-select-485">
                    <option value="now">First available</option>
                    <option value="no rush">No rush, but I'm committed to starting</option>
                    <option value="try">I'm not sure I'm ready yet, but I thought I'd try something new</option>
                </select>
            </label>
            <label class="cs-label">
                Anything You'd Like Us To Know?
                <textarea class="cs-textarea" type="text" id="find-485" name="info" placeholder="If you'd like, you can give us info info about why you're seeking therapy or what you're seeking therapy for."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Submit</button>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/ivy.webp">
        <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/ivy.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/ivy.webp" alt="A photo showing a happy couple who scheduled their free 15 minute consultation with Lakes Therapy and Counseling Center" width="1920" height="1200">
    </picture>
</section>

{% endblock %}