---
title: 'Services'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-47SC5QRPEQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-47SC5QRPEQ');
</script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-1447">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg">
            <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg">
            <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg" alt="A happy couple that has completed couples therapy at Lakes Therapy and Counseling Center" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Lakes Therapy and Counseling Center</span>
            <h2 class="cs-title">Couples Therapy</h2>
            <p class="cs-text">
                At Lakes Therapy and Counseling Center, we understand that every relationship has its unique set of challenges and strengths. Our Couples Therapy service, also widely recognized as Marriage Counseling, is designed to provide you and your partner with the tools and insights needed to enhance your communication, deepen your connection, and resolve conflicts in a constructive manner.
            </p>
            <p class="cs-text">
                Through guided discussions and strategic interventions, our expert therapists help couples rediscover their partnership's joy, intimacy, and resilience, paving the way for a more fulfilling and lasting bond. Whether you're navigating through rough patches or simply aiming to strengthen your relationship, our Couples Therapy sessions are tailored to meet your specific needs and goals.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Marriage Counseling</h3>
                        <p class="cs-li-text">
                            Focuses on married couples, aiming to resolve conflicts, improve communication, and rebuild a loving relationship. This specialization often addresses long-term issues and the complexities of shared life commitments.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Relationship Therapy</h3>
                        <p class="cs-li-text">
                            Broadly covers all types of romantic relationships, whether married or not, and focuses on improving emotional connection and understanding between partners.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Couples Counseling</h3>
                        <p class="cs-li-text">
                            Similar to Couples Therapy, this term emphasizes working through current conflicts, enhancing communication, and strengthening the relationship. It's suitable for couples at any stage of their relationship.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Partnership Therapy</h3>
                        <p class="cs-li-text">
                            A term sometimes used to emphasize the teamwork involved in a relationship. It focuses on mutual goals, shared responsibilities, and the development of a stronger partnership.
                        </p>
                    </div>
                </li>
            </ul>  
            <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1447">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/0_1.webp">
            <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/0_1.webp">
            <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/0_1.webp" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Lakes Therapy and Counseling Center</span>
            <h2 class="cs-title">Individual Therapy</h2>
            <p class="cs-text">
                At Lakes Therapy and Counseling Center, our Individual Therapy service is tailored to meet the unique needs of each person, offering a path to personal growth and emotional wellness. In a supportive and confidential setting, clients can explore their inner thoughts, confront emotional challenges, and work towards overcoming personal obstacles.
            </p>
            <p class="cs-text">
                Whether grappling with mental health issues, facing life transitions, or striving for self-improvement, our skilled therapists employ a variety of therapeutic approaches to facilitate healing and development. Individual therapy is an invaluable tool for those seeking to enhance their quality of life, providing the insights and strategies needed for personal empowerment and resilience.
            </p> 
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Navigating Life Transitions</h3>
                        <p class="cs-li-text">
                            Whether it's a career change, moving to a new city, or entering a new life stage, individual therapy provides guidance and support to smoothly transition through life's inevitable changes.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Managing Anxiety and Depression</h3>
                        <p class="cs-li-text">
                            Offers strategies and support to understand, manage, and reduce symptoms of anxiety and depression, promoting mental and emotional health.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Improving Self-Esteem and Confidence</h3>
                        <p class="cs-li-text">
                            Focuses on identifying and challenging negative self-perceptions, fostering a stronger sense of self-worth and confidence.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Dealing with Grief and Loss</h3>
                        <p class="cs-li-text">
                            Provides a compassionate space to process feelings of grief and loss, helping individuals find a path to healing and acceptance.
                        </p>
                    </div>
                </li>
            </ul>    
            <a href="/schedule" class="cs-button-solid">Donate Now</a>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-1447">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/0_2.webp">
            <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/0_2.webp">
            <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/0_2.webp" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Lakes Therapy and Counseling Center</span>
            <h2 class="cs-title">Family Therapy</h2>
            <p class="cs-text">
                Family Therapy at Lakes Therapy and Counseling Center is focused on enhancing the health and dynamics of family relationships. Recognizing that families operate as interconnected systems, our therapy sessions aim to improve communication, resolve conflicts, and strengthen the bonds between family members.
            </p>
            <p class="cs-text">
                Whether your family is navigating through a challenging period, facing transitions, or simply looking to improve your relationships, our experienced therapists use tailored strategies to address the collective needs of the family unit. Family therapy provides a supportive environment for all members to express their thoughts and feelings, fostering understanding and collaboration that lead to healthier and more fulfilling family connections.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Resolving Conflicts and Misunderstandings</h3>
                        <p class="cs-li-text">
                            Facilitates open communication to resolve ongoing conflicts and misunderstandings, promoting harmony within the family.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Adjusting to New Family Dynamics</h3>
                        <p class="cs-li-text">
                            Supports families through transitions such as remarriage, blending families, or welcoming new members, ensuring smooth adjustments to new dynamics.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Strengthening Parent-Child Relationships</h3>
                        <p class="cs-li-text">
                            Aims to improve the relationships between parents and children, addressing issues related to communication, behavior, and emotional connection.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Navigating Behavioral and Emotional Challenges</h3>
                        <p class="cs-li-text">
                            Helps families dealing with behavioral issues, mental health concerns, or emotional distress, providing strategies to support one another and promote healing.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>        
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}