---
title: 'Terms'
description: ''
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'terms/'
eleventyNavigation:
    key:
    order:
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/terms.css">
    <script src="https://plugin-api-4.nytroseo.com/api/site/31aac8af-082d-49bb-9474-11f3921770ff/nytroseo.min.js" ></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-47SC5QRPEQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-47SC5QRPEQ');
</script>
{% endblock %}

{% block body %}
   
<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Lakes Therapy and Counseling Center</span>
            <h1 class="cs-title">Terms and Conditions</h1>
            <div class="getterms-document-embed" data-getterms="A9V1F" data-getterms-document="tos" data-getterms-lang="en-us" data-getterms-mode="direct"></div>
<script type="text/javascript">(function(d, s, id) { var js, ref = d.getElementsByTagName(s)[0]; if (d.getElementById(id))
return; js = d.createElement(s); js.id = id; js.src = "https://app.getterms.io/dist/js/embed.js"; ref.parentNode.insertBefore(js, ref); })
(document, "script", "getterms-embed-js");</script>
            <a href="/" class="cs-button-solid">Go to Homepage</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}