/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            right: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            bottom: 0;
            left: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            /* sends it to the right */
            order: 2;
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs-r {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-877 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at Tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 22 characters, includes spaces between words */
            max-width: 39ch;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (16/16rem);
            background-color: #fff;
            overflow: hidden;
            grid-column: span 3;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (16/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            padding: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (200/16rem);
            margin-bottom: (20/16rem);
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            padding: 0 (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-877 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 1;
            max-width: (462/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-877 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1675 {
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;

        .cs-container {
            width: 100%;
            /* changes to 1920px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            padding: 0 (16/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            max-width: (522/16rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            align-items: stretch;
            grid-auto-flow: row;
        }

        .cs-item {
            list-style: none;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: (24/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            /* bottom border */
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
                /* note you'll also have to change the color in the tablet media query when the lines go vertical */
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(186, 186, 186, 1) 50%,
                    rgba(255, 255, 255, 0) 100%
                );
                opacity: .6;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;

                &::after {
                    content: none;
                }
            }
        }

        .cs-number {
            /* 80px - 100px */
            font-size: clamp(5rem, 1vw, 6.25rem);
            font-weight: 900;
            line-height: 1.2em;
            color: var(--primary);
            opacity: 0.12;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: (-31/16rem) 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1675 {
        .cs-container {
            max-width: (1920/16rem);
        }

        .cs-card-group {
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
        }

        .cs-item {
            /* 24px - 60px */
            padding: clamp(1.5rem, 3vw, 3.75rem);

            &::after {
                width: 1px;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(186, 186, 186, 1) 50%,
                    rgba(255, 255, 255, 0) 100%
                );
                opacity: .6;
                right: 0;
                left: initial;
            }

            /* the specificity of the mobile .cs-item means we need to explicitly define the first and last items here, too */
            &:first-of-type,
            &:last-of-type {
                /* 24px - 60px */
                padding: clamp(1.5rem, 3vw, 3.75rem);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-1675 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                border-color: var(--bodyTextColorWhite);
                &:after {
                    opacity: .2;
                }
            }

            .cs-item-text, .cs-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-h3,
            .cs-number {
                color: var(--primaryLight);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-682 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (24/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-icon {
            width: (17/16rem);
            height: auto;
            margin-top: (4/16rem);
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
            font-size: ~"min(2.3vw, .75em)";
            width: (632/16em);
            height: (820/16em);
            position: relative;
            z-index: 1;
            /* flips it horizontally */
            transform: scaleX(-1);
        }

        .cs-picture {
            width: (306/16em);
            height: (360/16em);
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                /* so the images are the original orientation, undoing the flip the cs-image-group is doing */
                transform: scaleX(-1);
            }
        }

        .cs-picture1 {
            top: (80/16em);
            left: 0;
        }

        .cs-picture2 {
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            bottom: 0;
            left: 0;
        }

        .cs-picture4 {
            bottom: (80/16em);
            right: 0;
        }

        .cs-graphic {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-682 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-graphic {
            width: (983/16em);
            height: auto;
            display: block;
            position: absolute;
            bottom: (165/16em);
            right: (-32/16em);
            z-index: -1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-682 {
            .cs-topper .cs-color {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-icon {
                filter: brightness(125%);
            }

            .cs-graphic {
                opacity: 0.5;
            }
        }
    }
}

                                
                                
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1261 {
        padding: var(--sectionPadding);
        background-color: #14142b;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* chnages to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 20px */
            gap: clamp(1rem, 2.4vw, 1.25rem);
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.4vw, 1.25rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #303044;
            border-radius: (8/16rem);
            padding: 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }

                .cs-item-p {
                    height: auto;
                    margin-top: (12/16rem);
                    /* 16px - 24px */
                    padding-top: (12/16rem);
                    padding-bottom: (24/16rem);
                    color: var(--bodyTextColorWhite);
                    opacity: 0.8;

                    &:before {
                        /* border top */
                        content: "";
                        height: 1px;
                        background: #7d799c;
                        opacity: 1;
                        position: absolute;
                        display: block;
                        top: 0;
                        left: (24/16rem);
                        right: (24/16rem);
                    }
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            width: 100%;
            padding: (24/16rem) (24/16rem) 0;
            border: none;
            background: transparent;
            color: var(--bodyTextColorWhite);
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 67%;
                right: (19/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 67%;
                right: (16/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 90%;
            padding: 0;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (541/16rem);
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 (24/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            position: relative;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s,
                padding-top 0.3s;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-1261 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1261 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-faq-item {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1629 {
        padding: var(--sectionPadding);

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: (800/16rem);max-width: (1280/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: (640/16rem);
            position: relative;
            z-index: 1;

            &:after {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                margin-top: (24/16rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
            row-gap: (40/16rem);
            /* 16px - 40px */
            column-gap: clamp(1rem, 5vw, 2.5rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            max-width: (400/16rem);
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 3vw, 1.5rem);
            text-align: left;
        }

        .cs-picture {
            /* 60px - 80px */
            width: clamp(3.75rem, 6vw, 5rem);
            height: clamp(3.75rem, 6vw, 5rem);
            margin: 0;
            box-sizing: border-box;
            border: 1px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-align: center;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1629 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            margin: 0;
            width: 100%;
            align-items: flex-start;
        }

        .cs-h3,
        .cs-item-text {
            text-align: left;
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: (640/16rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            padding: (12/16rem) 0 (12/16rem) (24/16rem);

            &:after {
                width: 1px;
                height: 100%;
                margin: 0 (24/16rem) 0 0;
                order: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1629 {
        .cs-card-group {
            max-width: (1280/16rem);
        }

        .cs-item {
            flex-direction: row;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1629 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                background-color: var(--medium);
            }

            .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1604 {
        background-color: #f7f7f7;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1024px at tablet */
            max-width: (584/16rem);
            margin: auto;
            margin-bottom: (-92/16rem);
            padding: var(--sectionPadding);
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    
        .cs-title {
            max-width: 20ch;
            margin: 0;
        }

        .cs-review {
            list-style: none;
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            /* 24px - 40px */
            padding: clamp(1.5rem, 4vw, 2.5rem);
            background-color: #fff;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            /* clips the pseudo box from overflowing */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            flex-direction: column;
            position: relative;
            z-index: 1;
        }

        .cs-quote {
            --quoteColor: var(--primary);

            width: (100/16rem);
            height: auto;
            margin: 0;
            opacity: .1;
            display: block;
            position: absolute;
            /* changes to 40px at tablet */
            right: 0;
            bottom: 0;
        }

        .cs-review-text {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: (52/16rem);
            margin: 0;
            border-radius: 50%;
            box-sizing: border-box;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: (4/16rem) 0 0 0;
            color: var(--secondary);
            display: block;
        }

        .cs-img {
            width: 100%;
            max-width: (1280/16rem);
            /* reduced to 60vw at tablet */
            height: 100vw;
            /* changed to 640px at tablet */
            max-height: (450/16rem);
            margin: auto;
            display: block;
            position: relative;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1604 {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            padding: 0;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }
        
        .cs-item {
            grid-column: span 6;
        }

        .cs-review {
            width: 67%;
        }

        .cs-quote {
            right: (40/16rem);
        }

        .cs-img {
            height: 60vw;
            max-height: (640/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1604 {
            background-color: rgba(0, 0, 0, .2);
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-review {
                background-color: var(--medium);
            }

            .cs-review-text, .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: .7;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-857 {
        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-logo-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: (40/16rem);
        }

        .cs-logo {
            width: 100%;
            max-width: (200/16rem);
            height: auto;
            margin: 0;
            display: block;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #logos-857 {
        .cs-container {
            max-width: (1280/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #logos-857 {
            background-color: fade(#000, 20%);

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-logo {
                filter: grayscale(100) brightness(2000%);
            }
        }
    }
}

                                
                                                                