---
title: 'Couples Therapy in Murrieta, CA - Lakes Therapy and Counseling Center'
description: 'Meta description for the page'
preloadImg: 'https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <script defer src="/assets/js/faq.js"></script>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
    <script src="https://plugin-api-4.nytroseo.com/api/site/f89cb702-494c-481a-b0e6-af41076c5ded/nytroseo.min.js" ></script>

    
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-670">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Serving Murrieta and the Surrounding Communities</span>
            <h1 class="cs-title">Lakes Therapy and Counseling Center offers <span class="cs-color">Marriage Counseling</span> in Murrieta, CA</h1>
            <p class="cs-text">
                Achieve a better relationship with your partner through a stronger marriage.
            </p>
            <a href="/schedule" class="cs-button-solid">Schedule Free Consultation</a>
        </div>
        <picture class="cs-background">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg">
            <!--Tablet-->
            <source media="(min-width: 768px)" srcset="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg">
            <img decoding="async" src="https://murrieta-therapy.b-cdn.net/Lake-Therapy-and-Counseling-Center-Murrieta-CA.jpg" alt="consultation" width="960" height="979" aria-hidden="true">
        </picture>
    </div>
   
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1119">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-white1.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Improved Communication</h2>
                    <p class="cs-item-text">
                        Unlock the power of understanding and being understood, transforming conflicts into conversations.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-white2.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Relationship Growth</h2>
                    <p class="cs-item-text">
                        Nurture the seeds of partnership through shared challenges, leading to a stronger, more resilient bond.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-white3.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Enahnced Intimacy</h2>
                    <p class="cs-item-text">
                        Reignite the spark of closeness and connection, deepening the emotional and physical ties that unite you.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--SVG Waves-->
    <img class="cs-waves" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-waves.svg" alt="waves" aria-hidden="true" loading="lazy" decoding="async" width="1920" height="616">
</section>
                                
    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/All-The-Benefits-of-Couples-Therapy-with-Lakes-Therapy-and-Counseling-Center.jpg">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/All-The-Benefits-of-Couples-Therapy-with-Lakes-Therapy-and-Counseling-Center.jpg">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/All-The-Benefits-of-Couples-Therapy-with-Lakes-Therapy-and-Counseling-Center.jpg" alt="John Bacon Gilbert family on the beach" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/couple-smiling-while-hiking.webp">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/couple-smiling-while-hiking.webp">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/couple-smiling-while-hiking.webp" alt="Young couple smiling and having a great time while backpacking in the mountains" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Think About This...</span>
                <h2 class="cs-title">
                    We all maintain our cars, homes, and our health, so why not maintain your relationship?</h2>
                <p class="cs-text">
                    Does this feel familiar?
                </p>
                <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

<ul id="list-1405" class="cs-ul">
    <li class="cs-li">
        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
        It seems like you argue and fight all the time
    </li>
    <li class="cs-li">
        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
        You feel more like roommates then lovers
    </li>
    <li class="cs-li">
        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
        A lack of intimacy leaves you feeling sad and alone
    </li>
    <li class="cs-li">
        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
        You feel disconnected and unengaged from your relationship
    </li>
</ul>
                                
                <p class="cs-text"><b>
                    With the knowledge about relationships that we have, no couple should have to suffer with loneliness and isolation anymore.</b>
                </p>
                <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>
            </div>
        </div>
    </section>
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Lakes-Therapy-and-Counseling-Center-Comfortable-Lobby.jpg">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/Lakes-Therapy-and-Counseling-Center-Comfortable-Lobby.jpg">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/Lakes-Therapy-and-Counseling-Center-Comfortable-Lobby.jpg" alt="Lakes Therapy and Counseling Center has a comfortable lobby" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png">
                    <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png">
                    <img aria-hidden="true" decoding="async" src="https://murrieta-therapy.b-cdn.net/John-Bacon-Gilbert.png" alt="John Bacon Gilbert, the founder of Lakes Therapy and Counseling Center" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">We're Here To Help</span>
                <h2 class="cs-title">We'll Help You Build A Better Relationship Together</h2>
                <p class="cs-text">
                    We don’t believe that anyone enters a relationship with hopes of future loneliness and isolation, but we’ve all felt it at one time or another.
                </p>
                <p class="cs-text">
                    We’ve spent thousands of hours studying how humans respond in relationships when feelings of threat, isolation, bitterness, and jealousy are felt, and we’ve helped dozens of couples strengthen their relationships.
                </p>
                <p class="cs-text"><b><i>
                    And we can do the same for you.</i></b>
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        "In our journey through relationships, we've observed the impact of threat and isolation, but with our guidance, countless couples have rediscovered strength and unity in their bonds—and we're here to help you do the same."
                    </p>
                    <span class="cs-name">John Bacon Gilbert</span>
                    <span class="cs-job">LMFT #125762</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Here's How We Can Help</h2>
            <p class="cs-text">
                At Lakes Therapy and Counseling Center, our diverse range of services, including Couples Therapy, Individual Therapy, and Family Therapy, is designed to nurture your mental and emotional well-being, enhance your relationships, and support your journey towards personal growth and healthier family interactions.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Couples-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/Couples-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/Couples-Therapy-Lakes-Therapy-and-Counseling-Center.jpg" alt="Couples Therapy at Lakes Therapy and Counseling Center in Murrieta, CA" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Couples Therapy</h3>
                    <p class="cs-item-text">
                        Strengthen your relationship through guided discussions and strategies to enhance communication and resolve conflicts.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Individual-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/Individual-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/Individual-Therapy-Lakes-Therapy-and-Counseling-Center.jpg" alt="Individual Therapy in Murrieta, CA with Lakes Therapy and Counseling Center" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Individual Therapy</h3>
                    <p class="cs-item-text">
                        Discover personal growth and emotional well-being with tailored sessions focusing on your unique challenges and goals.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/Family-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/Family-Therapy-Lakes-Therapy-and-Counseling-Center.jpg">
                        <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/Family-Therapy-Lakes-Therapy-and-Counseling-Center.jpg" alt="Lakes Therapy and Counseling Center in Murrieta, CA offers Family Therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Family Therapy</h3>
                    <p class="cs-item-text">
                        Foster healthier family dynamics and mutual understanding in a supportive environment addressing collective and individual issues.
                    </p>
                </a>
            </li>
        </ul>
        <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1675">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Steps</span>
            <h2 class="cs-title">How To Get Started</h2>
            <p class="cs-text">
                Starting your path to healing and deeper connection at Lakes Therapy and Counseling Center is easy and straightforward, guided by four essential steps designed to ensure the best outcomes for you and your relationships.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">Book A Free 15 Minute Consultation</h3>
                <p class="cs-item-text">
                    Engage in a brief, complimentary session to explore compatibility and establish trust, setting the foundation for your therapeutic journey.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Assessment and Understanding</h3>
                <p class="cs-item-text">
                    Together, we'll delve into the heart of your concerns, using specialized assessment tools to gain a comprehensive understanding of your relationship dynamics.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">Customized Relationship Plan</h3>
                <p class="cs-item-text">
                    Armed with insights, we craft a custom plan targeting the core patterns that challenge your relationship, aiming for breakthroughs that bring you closer.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <h3 class="cs-h3">Stronger, Better Relationship</h3>
                <p class="cs-item-text">
                    Experience a newfound depth of connection and empowerment in your relationships, feeling more united and supported than ever before.
                </p>
            </li>
        </ul>
        <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>
                                
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-682">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/young-couple-hiking.webp">
                <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/young-couple-hiking.webp">
                <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/young-couple-hiking.webp" alt="young happy couple hiking outside in the mountains" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/romantic-couple-watching-tv.webp">
                <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/romantic-couple-watching-tv.webp">
                <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/romantic-couple-watching-tv.webp" alt="romantic couple watching tv and sharing an intimate moment" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/middle-aged-couple-doing-yardwork.webp">
                <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/middle-aged-couple-doing-yardwork.webp">
                <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/middle-aged-couple-doing-yardwork.webp" alt="older couple gardening and enjoying each other's company" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="https://murrieta-therapy.b-cdn.net/married-couple-enjoying-lunch.webp">
                <source media="(min-width: 601px)" srcset="https://murrieta-therapy.b-cdn.net/married-couple-enjoying-lunch.webp">
                <img loading="lazy" decoding="async" src="https://murrieta-therapy.b-cdn.net/married-couple-enjoying-lunch.webp" alt="a married couple having lunch at a restaurant together" width="306" height="360">
            </picture>
            <!--Zig Zag Graphic-->
            <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Consider This...</span>
            <h2 class="cs-title">Think <span class="cs-color">Marriage Counseling</span> Is Only For Troubled Marriages?</h2>
            <p class="cs-text">
                Many believe that marriage counseling is only for couples on the brink of divorce. In reality, it can be beneficial for any couple seeking to strengthen their relationship, even if they aren’t experiencing significant issues.
            </p>
            <p class="cs-text">
                Couples Therapy can provide improvement in all relationships:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Stronger connection and excitement your relationship
                    </h3>
                    <p class="cs-item-text">
                        Couples therapy ignites a renewed sense of unity and enthusiasm within your partnership.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Improved sexual intimacy
                    </h3>
                    <p class="cs-item-text">
                        Experience deeper levels of intimacy and a revitalized sexual connection through guided therapeutic practices.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        A better felt sense of security
                    </h3>
                    <p class="cs-item-text">
                        Gain a stronger sense of safety and security in your relationship, fostering an environment of trust and mutual support.
                    </p>
                </li>
            </ul>
            <p class="cs-text"><b>
                What does that mean?</b>
            </p>
            <p class="cs-text">
                This means that engaging in therapy can proactively strengthen your relationship, enhancing communication, deepening emotional connection, and equipping both partners with effective strategies for handling future challenges, regardless of the current state of your relationship.
            </p>
            <a class="cs-button-solid" href="/schedule">Schedule Free Consultation</a>
        </div>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1261">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <!--We made two lists so when you open an FAQ item, they behave properly and separate from each other, wrapped in a wrapper div for better flexboxxing -->
        <div class="cs-wrapper">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What types of therapy services do you offer?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer Couples Therapy, Individual Therapy, and Family Therapy, each designed to meet the unique needs of our clients.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I start therapy at Lakes Therapy and Counseling Center?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Begin with a free 15-minute consultation to ensure we're a good match and to lay the foundation for your therapeutic journey. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Is therapy right for me if my relationship isn't in crisis?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely, therapy is beneficial for relationships at any stage, aiming to strengthen bonds and enhance communication before issues become crises. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is Couples Therapy and how can it benefit us?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Couples Therapy involves guided discussions and strategies to enhance communication and resolve conflicts, leading to a stronger and more connected relationship. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I use insurance for therapy sessions?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        While we don't bill insurance directly, we provide a superbill for possible reimbursement from your insurance company. 
                    </p>
                </li>
            </ul>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does each therapy session last?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Therapy sessions typically last between 50-60 minutes, tailored to fit into your schedule efficiently.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is the process for creating a Customized Relationship Plan?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We identify and work through relational patterns that hinder connection, developing a strategy for stronger partnership." 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can therapy improve sexual intimacy?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Therapy can address underlying issues affecting intimacy, fostering an environment where physical connection can flourish.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Is therapy confidential?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely, we adhere to strict confidentiality laws, ensuring that your sessions and information remain private. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What if my partner is hesitant about therapy?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        It's common for one partner to be uncertain; we recommend starting with a consultation to address any concerns and demonstrate the supportive nature of therapy.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!--SVG Waves-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" loading="lazy" decoding="async" alt="moon" width="1920" height="647">
    </picture>
</section>
              
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">What You Can Expect From Us</span>
                <h2 class="cs-title">Included In Our Therapy Options</h2>
            </div>
            <p class="cs-text">
                At our center, we are dedicated to providing personalized therapy services that cater to the unique needs of our clients. Our approach includes a blend of traditional and innovative therapies designed to support your mental, emotional, and relational health. Here's what sets our services apart:
            </p>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Customized and Confidential Care</h3>
                    <p class="cs-item-text">
                        Tailored therapy sessions with a strong commitment to confidentiality.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Expert Guidance in a Supportive Environment</h3>
                    <p class="cs-item-text">
                        Experienced, licensed therapists foster open communication in a welcoming setting.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Holistic and Goal-Oriented Methods</h3>
                    <p class="cs-item-text">
                        Our approach considers all aspects of well-being, focusing on achieving your specific goals.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dollar-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Flexible and Accessible Therapy Options</h3>
                    <p class="cs-item-text">
                        We offer a variety of appointment times and virtual therapy sessions to suit your needs.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/layer-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Emotionally Focused Techniques</h3>
                    <p class="cs-item-text">
                        Specializing in EFT to enhance relationships and family dynamics.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chart-GOLD.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Innovative Practices for Comprehensive Support</h3>
                    <p class="cs-item-text">
                        Incorporating the latest in therapy techniques to offer the best possible support.
                    </p>
                </div>
            </li>
        </ul>
        <a href="/schedule" class="cs-button-solid">Schedule A Free Consultation</a>
    </div>
</section>
                                

 <!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1604">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Say</h2>
        </div>
        <div class="cs-review">
            <!--Quote-->
            <svg class="cs-quote" viewBox="0 0 120 84" preserveAspectRatio="none" width="100" height="84" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill="var(--quoteColor)"><path d="M27.528 99H0L21.966 0H66L27.528 99ZM81.528 99H54L75.966 0H120L81.528 99Z"/></g><defs><clipPath id="a-1604"><path fill="var(--quoteColor)" d="M0 0h120v99H0z"/></clipPath></defs></svg>
            <p class="cs-review-text">
                "This was our first couples therapy and it was nerve-wracking, but John is such a down to earth person that it felt natural to open up in discussion. With his help we were able to reflect and understand each other more in a entire new level. I whole heartedly recommend him! Thank you John once again for simply being you and shining new perspective into our marriage."
            </p>
            <div class="cs-flex-group">
                <picture class="cs-picture">
                    <img class="cs-profile" src="https://murrieta-therapy.b-cdn.net/silva.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                </picture>
                <span class="cs-name">
                    Jessica Silva
                    <span class="cs-job">Murrieta, CA</span>
                </span>
            </div>
        </div>
    </div>
    <picture class="cs-img">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/models.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/models.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/models.jpg" alt="people" width="1280" height="640">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Find Us Online</span>
            <h2 class="cs-title">Where We've Been Featured</h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="https://murrieta-therapy.b-cdn.net/Psychology-Today-3.webp" alt="Psychology Today logo" width="300" height="140" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://murrieta-therapy.b-cdn.net/ICEEFT-3.webp" alt="ICEEFT logo" width="300" height="140" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://murrieta-therapy.b-cdn.net/LGBTQ-and-ALL-Badge-4.png" alt="LGBTQ and All logo" width="300" height="140" loading="lazy" decoding="async">
        </div>
    </div>
</section>
                                
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}